html {
    margin: 0;
}
body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    background-image: url(images/home-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    background-color: #29252C;
}
.navbar a:hover {
    opacity: .8;
    transition: .3s;
}
.navbar-middle {
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}
.navbar-middle a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
}
.navbar-right {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;

}
.navbar-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 35px;
}
.profile-icon {
    width: 30px;
    transition: .3s;
}
.navbar-middle a:hover, .navbar-right a:hover{
    color: #F33535;
    transition: .3s;
}
.profile-icon:hover {
    background-color: #F33535;
    border-radius: 50px;
    transition: .3s;
}
.bg-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.bg-title {
    color: white;
    font-size: 5em;
    text-shadow: 0 0 20px black;
}
.bg-consoles-word{
    color: #F33535;
}
.button-style-one {
    font-size: 1.2rem;
    color: white;
    background-color: #F33535;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 50px;
    box-shadow: 0 0 5px #2c2c2c88;
    transition: .3s;
}
.button-style-one:hover {
    background-color: #ff5e5e;
    transition: .3s;
}
img {
    width: 100px;
}
.home-news-section {
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.news-box {
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.nws-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 32%;
}
.nws-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.269);
}
.nws-card div {
    margin: 10px 0;
    width: 85%;
}
.nws-card div h1 {
    font-size: 1.5rem;
}
.box-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}