html {
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body-other {
    display: flex;
    flex-direction: column;
    background-image: none;
}
.profile-icon-red {
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    background-color: #29252C;
}
.navbar a:hover {
    opacity: .8;
    transition: .3s;
}
.navbar-middle {
    display: flex;
    justify-content: space-evenly;
    width: 450px;
}
.navbar-middle a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
}
.navbar-right {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;

}
.navbar-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: .3s;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 35px;
}
.profile-icon-white {
    width: 30px;
    transition: .3s;
}
.navbar-middle a:hover, .navbar-right a:hover{
    color: #F33535;
    transition: .3s;
}
.profile-icon-white:hover {
    background-color: #F33535;
    border-radius: 50px;
    transition: .3s;
}
.bg-title {
    color: white;
    font-size: 5em;
    text-shadow: 0 0 20px black;
}
.bg-title-red{
    text-align: center;
    color: #F33535;
}
.button-style-red-div {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    background-color: rgb(255, 255, 255);
}
.button-style-red {
    font-size: 1.2rem;
    color: white;
    background-color: #F33535;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .3s;
}
.button-style-red:hover {
    background-color: #ff5e5e;
    transition: .3s;
}
.news-div {
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.news-div a {
    width: fit-content;
}
.news-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.nws-card {
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.nws-card div {
    margin: 10px 0;
    width: 85%;
}
.nws-card div h1 {
    font-size: 1.5rem;
}
.box-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title-dark-blue {
    color: #33425B;
}
.background img {
    width: 100%;
}
.background .img2 {
    display: none;
}
.background {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 60px;
}
.background h1 {
    position: absolute;
    font-size: .9em;
    text-shadow: 0 0 20px black;
}
.background a{
    position: absolute;
    top: 60%;
}

.button-style-white {
    font-size: 1.2rem;
    color: #F33535;
    background-color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .3s;
}
.button-style-white:hover {
    background-color: #ebebeb;
    transition: .3s;
}
.spiderman-div {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F33535;
    color: white;
}
.spiderman-div a {
    width: fit-content;
}
.spiderman-content {
    display: flex;
    justify-content: space-between;
}
.spiderman-content img {
    border-radius: 7px;
    width: 48%;
    height:max-content;
} 
.spiderman-content div {
    font-size: 1.4rem;
    width: 48%;
}

.about-div {
    margin: 7% 0;
    padding: 100px 10%;
    color: #29252C;
    background-color: rgb(228, 228, 228);
}
.about-div div h1 {
    font-size: 3rem;
}
.about-div a {
    margin-top: 100px;
}
.button-style-dark {
    font-size: 1.2rem;
    color: white;
    background-color: #29252C;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .3s;
}
.button-style-dark:hover {
    background-color: #29252cda;
    transition: .3s;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:#29252C;
}
.ft-top {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ft-top img {
    height: 40px;
}
.nav-footer {
    display: flex;
    width: 440px;
    justify-content: space-between;
    align-items: center;
}
.nav-footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.follow-us {
    width: 200px;
    display: flex;
    flex-direction: column;
}
.follow-us p {
    color: white;
    font-weight: bold;
    text-align: center;
}
.follow-us div {
    display: flex;
    justify-content: space-between;
}
.follow-us div img {
    height: 40px;
    border-radius: 5px;
}
.follow-us div img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.603);
    cursor: pointer;
}
.ft-bottom {
    color: white;
    text-align: center;
    border-top: 1px solid white;
}
.main-big-content {
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    justify-self: center;
    align-self: center;
}
.big-cnt-right {
    margin: 10px 20px;
    width: 50%;
    padding: 1rem 1rem;
}
.big-cnt-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 20px;
    padding: 1rem 1rem;
    width: 17%;
    background-color: #ebebeb;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.457);
    height: fit-content;
}
.big-cnt-right img {
    width: 100%;
}
.big-cnt-left img {
    width: 100%;
}
.big-cnt-left h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
}
.games-box {
    width: min(90%, 1000px);
    align-self: center;
}
.games-card {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.games-card div p, .games-card div h1 {
    margin: 0;
}
.games-card div {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.games-card div div, .games-card div p, .games-card div h1 {
    width: 100%;
}
.games-card a {
    width: 38%;
}
.games-card a img{
    width: 100%;
}
.games-card div div a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-decoration: none;
}
.games-card div div a p {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: fit-content;
    border-radius: 5px;
    padding: .5rem .7rem;
    text-align: end;
    color: white;
    font-weight: bold;
    background-color: #F33535;
    transition: .3s;
}
.games-card div div a p:hover{
    opacity: .7;
    transition: .3s;
}
.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #29252C;
}
.contact-content h1{
    width: fit-content;
    font-size: 2rem;
}
.contact-content p {
    text-align: center;
    width: 80%;
}
.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    width: min(90%, 600px);
}
.contact-box p, .contact-box input, .contact-box textarea{
    padding: 0;
    text-align: start;
    width: 100%;
    font-weight: bold;
}
.p-f {
    font-weight: normal !important;
}
.contact-box input, .contact-box textarea{
    padding: 1em 0;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
}
.contact-box a{
    text-decoration: none;
}
.contact-box a p {
    text-align: center;
    padding: 1rem 0;
}
.sign-in-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}
.sign-in-box div {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    padding: 2rem;
    border-radius: 10px;
    background-color: white;
    width: min(80%, 500px);
    display: flex;
    flex-direction: column;
}
.sign-in-box div p, .sign-in-box a, .sign-in-box div h1 {
    width: 100%;
}
.sign-in-box div h1 {
    font-weight: 100;
}
.sign-in-box div p {
    font-size: 1.2rem;
}
.sign-in-box input {
    width: 98%;
    border-radius: 5px;
    border: 1px solid black;
    align-self: center;
    padding: 1rem .3rem;
}
.sign-in-box a{
    text-decoration: none;
}
.button-style-square {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    border-radius: 5px;
    color: white;
    padding: .7rem 0;
    text-align: center;
    font-weight: bold;
    background-color: #F33535;
    transition: .3s;
}
.button-style-square:hover {
    opacity: .7;
    transition: .3s;
}
@media (max-width: 768px) {
    .contact-box {
        width: 80%;
    }
    .main-big-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0;
    }
    .profile-icon-white {
        display: none;
    }
    .profile-icon-red {
        display: block;
    }
    .big-cnt-right {
        width: 80%;
    }
    .big-cnt-left {
        display: none;
    }
    .nav-footer {
        display: none;
    }
    .navbar-right .sign-in {
        display: none;
    }
    .navbar-right {
        justify-content: end;
        width: 40px;
    }
    .profile-icon-red {
        width: 1.9rem;
    }
    .about {
        display: none;
    }
    .background h1 {
        font-size: .5em;
    }
    .ft-top img {
        height: 30px;
    }
    .follow-us {
        width: 9.5em;
    }
    .follow-us div img{
        height: 2em;
    }
    .news-box {
        flex-direction: column;
        align-items: center;
    }
    .spiderman-div {
        padding: 2em;
    }
    .spiderman-content {
        display: block;
    }
    .spiderman-content img {
        width: 100%;
    }
    .spiderman-content div {
        width: 100%;
    }
    .games-box {
        width: 80%;
    }
    .games-card {
        flex-direction: column;
    }
    .games-card div, .games-card a {
        width: 100%;
    }
    .games-card div h1 {
        margin: .7rem 0;
    } 
}
@media (max-width: 540px) {
    .background a {
        top: 80%;
    }
    .background .img1{
        display: none;
    }
    .background .img2 {
        display: block;
        width: 100%;
    }
    .navbar {
        padding: 1.5em 1em;
    }
    .navbar-middle a {
        font-size: .9em;
    }
    .background h1 {
        font-size: .6em;
        text-align: center;
    }
    .background {
        margin: 0;
    }
    .logo img {
        height: 1.7em;
    }
    .main-big-content {
        padding: 1em 0;
    }
    .follow-us p {
        font-size: .7em;
    }
    .follow-us div img {
        height: 1.3em;
    }
    .follow-us {
        width: 7em;
    }
    .ft-top {
        padding: .7em .7em;
    }
    .ft-bottom {
        font-size: .7em;
    }
    .profile-icon-red {
        width: 1.4em;
    }
    .games-card div h1 {
        font-size: 1.4em;
    }
    .spiderman-content h1 {
        font-size: 1.4em;
    }
    .sign-in-box div {
        padding: 1.5rem;
    }
}
@media (max-width: 353px) {
    .navbar {
        flex-direction: column;
        padding: .5em 2em;
        height: 3em;
        justify-content: space-between;
    }
    .background .img1{
        display: none;
    }
    .background .img2 {
        display: block;
    }
    .navbar-middle {
        width: 100%;
        justify-content: space-between;
    }
    .navbar-right {
        display: none;
    }
    .nws-card {
        width: 80%;
    }
    .box-img {
        width: 100%;
    }
}